@model MVCWEB.Models.CadastroClienteViewModel


@{
    ViewBag.Title = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Título centralizado e mais espaçoso -->
<h2 class="text-center" style="margin-bottom: 30px;">Editar Cliente</h2>

@using (Html.BeginForm("Edit", "CadCliente", FormMethod.Post, new { role = "form", data_toggle = "validator" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h4 class="text-center" style="margin-bottom: 20px;">Detalhes do Cliente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ClienteId)

    <div class="form-group" style="margin-bottom: 20px;">
        @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "CPF é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Nome é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "RG é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_Expedicao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_Expedicao, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Data é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Data_Expedicao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Orgao_Expedicao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Orgao_Expedicao, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Orgão é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Orgao_Expedicao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "UF é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_de_Nascimento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_de_Nascimento, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Data é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Data_de_Nascimento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Sexo é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado_Civil, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Estado_Civil, new { htmlAttributes = new { @class = "form-control", required = "required", data_toggle = "tooltip", title = "Estado Civil é obrigatório!" } })
            @Html.ValidationMessageFor(model => model.Estado_Civil, "", new { @class = "text-danger" })
        </div>
    </div>


    <!-- Dados do Endereço -->
    <h3>Dados do Endereço</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.CEP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.CEP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.Numero, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.Numero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.Complemento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.Bairro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.Bairro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteEndereco.UF, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClienteEndereco.UF, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClienteEndereco.UF, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</div>
}


<div style="margin-top: 20px;">
    @Html.ActionLink("Voltar à lista", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
