@model IEnumerable<MVCWEB.Models.CadastroClienteViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CSS do Bootstrap e jQuery UI -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cadastro Cliente</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consultar</li>
        </ol>
    </nav>

    <div class="table-responsive">
        <table id="tabela" class="table table-striped table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ClienteId)</th>
                    <th>@Html.DisplayNameFor(model => model.CPF)</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.RG)</th>
                    <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado_Civil)</th>
                    <th>Visualizar</th>
                    <th>Excluir</th>
                    <th>Endereços</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.ClienteId > 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ClienteId)</td>
                            <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.RG)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado_Civil)</td>
                            <td>@Html.ActionLink("Visualizar", "Details", "CadCliente", new { id = item.ClienteId }, new { @class = "btn btn-info" })</td>
                            <td>@Html.ActionLink("Excluir", "Delete", "CadCliente", new { id = item.ClienteId }, new { @class = "btn btn-danger btn-delete" })</td>
                            <td><button class="btn btn-warning show-address-modal" data-id="@item.ClienteId">Visualizar Endereços</button></td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @Html.ActionLink("Novo Cliente", "Create", "CadCliente", null, new { @class = "btn btn-success" })
</div>


<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Endereços do Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="#" class="btn btn-danger" id="confirmDelete">Excluir</a>
            </div>
        </div>
    </div>
</div>

<script>


    $(function () {
        $(document).on('click', '.show-address-modal', function (e) {
            e.preventDefault();

            var clienteId = $(this).data('id');

            $.ajax({
                url: '/CadCliente/getEndereco',
                type: 'GET',
                data: { id: clienteId },
                success: function (data) {
                    var addressList = '';
                    $.each(data, function (index, item) {
                        addressList += '<li>' + item.Logradouro + ', ' + item.Numero + ', ' + item.Bairro + ' - ' + item.Cidade + '/' + item.UF + '</li>';
                    });
                    $('#addressModal .modal-body').html('<ul>' + addressList + '</ul>');
                    $('#addressModal').modal('show');
                },
                error: function (error) {
                    $('#addressModal').modal('show');
                }
            });
        });
    });

</script>
